#define($content)
    #if($!{article})
        <link rel="stylesheet" href="/sf/editormd/css/editormd.preview.css" />
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-black am-text-xl">
                        $!{article.title}
                        #if($!{page.admin})
                            <a href="/blog/article/$!{article.id}/update" class="am-link-muted" id="edit_button">
                                <span class="am-icon-pencil"></span>
                            </a>
                        #end
                    </strong>
                </div>
                <div class="am-fr am-cf am-text-gray">
                    <span class="am-icon-fire" title="浏览量——眼睛图标太丑了，原谅我">&nbsp;$!{article.pv}&nbsp;&nbsp;&nbsp;</span>
                    <span class="am-icon-clock-o">&nbsp;$!{article.createTime}</span>
                </div>
            </div>
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-btn-toolbar">
                    #if($!{article.tags})
                        #foreach($tag in $!{article.tags})
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default">
                                    <a href="/blog/list/$!{tag.id}"><span class="am-icon-bookmark"></span>  $!{tag.name}</a>
                                </button>
                            </div>
                        #end
                    #end
                </div>
            </div>
            <hr/>
            <div id="editormd-view">
                <textarea style="display:none;">$!{article.markdown}</textarea>
            </div>
        </div>
        <script src="/sf/editormd/editormd.js"></script>
        <script src="/sf/editormd/lib/marked.min.js"></script>
        <script src="/sf/editormd/lib/prettify.min.js"></script>
        <script src="/sf/editormd/lib/raphael.min.js"></script>
        <script src="/sf/editormd/lib/underscore.min.js"></script>
        <script src="/sf/editormd/lib/sequence-diagram.min.js"></script>
        <script src="/sf/editormd/lib/flowchart.min.js"></script>
        <script src="/sf/editormd/lib/jquery.flowchart.min.js"></script>
        <script src="/sf/js/blog/page/article/article.js"></script>
    #end
#end