#define($content)
    #if($!{article})
        <link rel="stylesheet" href="/sf/editormd/css/editormd.preview.css" />
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-black am-text-lg">$!{article.title}</strong>
                </div>
                #if($!{page.admin})
                    <a href="/blog/article/$!{article.id}/update" class="am-link-muted" id="edit_button">
                        &nbsp;<span class="am-icon-pencil"></span>
                    </a>
                #end
                <div class="am-fr am-cf">
                    <small class="am-text-gray">   $!{article.createTime}</small>
                </div>
            </div>
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-btn-toolbar">
                    #if($!{article.tags})
                        #foreach($tag in $!{article.tags})
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default">
                                    <a href="/blog/list/$!{tag.id}"><span class="am-icon-bookmark"></span>  $!{tag.name}</a>
                                </button>
                            </div>
                        #end
                    #end
                </div>
            </div>
            <hr/>
            <div id="editormd-view">
                <textarea style="display:none;">$!{article.markdown}</textarea>
            </div>
        </div>
        <script src="/sf/editormd/editormd.js"></script>
        <script src="/sf/editormd/lib/marked.min.js"></script>
        <script src="/sf/editormd/lib/prettify.min.js"></script>
        <script src="/sf/editormd/lib/raphael.min.js"></script>
        <script src="/sf/editormd/lib/underscore.min.js"></script>
        <script src="/sf/editormd/lib/sequence-diagram.min.js"></script>
        <script src="/sf/editormd/lib/flowchart.min.js"></script>
        <script src="/sf/editormd/lib/jquery.flowchart.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var testEditormdView = editormd.markdownToHTML("editormd-view", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
        </script>
    #end
#end