#define($content)
    #if($!{article})
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-black am-text-lg">$!{article.title}</strong>
                </div>
                <a href="/blog/article/$!{article.id}/update" class="am-link-muted" id="edit_button">
                    &nbsp;<span class="am-icon-pencil"></span>
                </a>
                <div class="am-fr am-cf">
                    <small class="am-text-gray">   $!{article.createTime}</small>
                </div>
            </div>
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-btn-toolbar">
                    #if($!{article.tags})
                        #foreach($tag in $!{article.tags})
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default">
                                    <a href="/blog/list/$!{tag.id}"><span class="am-icon-bookmark"></span>  $!{tag.name}</a>
                                </button>
                            </div>
                        #end
                    #end
                </div>
            </div>
            <hr/>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-sm-centered">
                    $!{article.richContent}
                </div>
            </div>
        </div>
    #end
#end