#define($content)
<script src="/sf/ueditor/ueditor.config.js"></script>
<script src="/sf/ueditor/ueditor.all.js"></script>
<script src="/sf/ueditor/zh-cn.js"></script>

<script src="/sf/js/blog/page/article/form.js"></script>

<div class="am-g">
    <br>
    <div class="am-panel am-panel-default am-u-lg-6 am-u-lg-8 am-u-sm-centered">
        <div class="am-u-lg-8 am-u-lg-10 am-u-sm-centered am-panel-bd">
            <div class="am-form">
                <br>
                <h1 class="am-form-group am-form-group-xl">
                    <input type="text" name="" id="title" value="$!{article.title}">
                </h1>
            </div>
        </div>
        <hr>
        <div class="am-u-lg-8 am-u-lg-10 am-u-sm-centered am-panel-bd">
            <div class="am-form">
                <div class="am-form-group am-form-group-lg">
                    <script id="editor_content" type="text/plain">
                        $!{article.richContent}
                    </script>
                </div>
            </div>
        </div>
        <hr>
        <div class="am-u-lg-8 am-u-lg-10 am-u-sm-centered am-panel-bd">
            <div class="am-form">
                <div class="am-form-group am-form-group-lg">
                    <input type="submit" name="" value="Submit" class="am-btn am-btn-secondary am-btn-lg am-center">
                </div>
            </div>
        </div>
    </div>
</div>

#end