#set($topTags=${page.topTags})
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li class="admin-parent">
                <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-nav-system'}">
                    <span class="am-icon-book"></span>
                    未分类
                    <span class="am-icon-angle-right am-fr am-margin-right"></span>
                </a>
            </li>
            #if($!{page.topTags})
                #foreach($l1Tag in $!{page.topTags})
                    <li class="admin-parent">
                        <a href="/blog/list?tagId=$!{l1Tag.id}" class="am-cf #if($!{tag_0.id} != $!{l1Tag.id}) am-collapsed #end">
                            <span class="am-icon-book"></span>
                            $!{l1Tag.name}
                            #if($!{l1Tag.subTags})
                                <span class="am-icon-angle-right am-fr am-margin-right"></span>
                            #end
                        </a>
                        #if($!{l1Tag.subTags})
                            <ul class="am-list am-collapse admin-sidebar-sub #if($!{tag_0.id} == $!{l1Tag.id}) am-in #end" id="collapse-nav-$!{l1Tag.id}">
                                #foreach($l2Tag in $!{l1Tag.subTags})
                                    <li>
                                        <a href="/blog/list?tagId=$!{l2Tag.id}" class="am-cf #if($!{tag_1.id} != $!{l2Tag.id}) am-collapsed #end">
                                            #if($!{l2Tag.subTags})
                                                <span class="am-icon-bookmark"></span>
                                            #else
                                                <span class="am-icon-file-text"></span>
                                            #end
                                            $!{l2Tag.name}
                                        </a>
                                        #if($!{l2Tag.subTags})
                                            <ul class="am-list am-collapse admin-sidebar-sub #if($!{tag_1.id} == $!{l2Tag.id}) am-in #end" id="collapse-nav-$!{l2Tag.id}">
                                            #foreach($l3Tag in $!{l2Tag.subTags})
                                                <li>
                                                    <a href="/blog/list?tagId=$!{l3Tag.id}" class="am-cf">
                                                        <span class="am-icon-file-text"></span>
                                                        $!{l3Tag.name}
                                                    </a>
                                                </li>
                                            #end
                                            </ul>
                                        #end
                                    </li>
                                #end
                            </ul>
                        #end
                    </li>
                #end
            #end
            #if($!{page.admin})
                <li class="admin-parent">
                    <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-nav-system'}">
                        <span class="am-icon-gear"></span>
                        系统管理
                        <span class="am-icon-angle-right am-fr am-margin-right"></span>
                    </a>
                    <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav-system">
                            <li>
                                <a href="/blog/article/form" target="_blank" class="am-cf">
                                    <span class="am-icon-pencil-square-o"></span>
                                    添加文章
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="am-cf">
                                    <span class="am-icon-tag"></span>
                                    添加Tag
                                </a>
                            </li>
                    </ul>
                </li>

            #end
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p>Welcome to the Amaze UI wiki!</p>
            </div>
        </div>
    </div>
</div>