#define($content)
<link rel="stylesheet" href="/sf/css/blog/page/list.css">
<div class="admin-content-body">
    <div class="am-header-container am-cf am-padding am-padding-bottom-lg">
        <div class="am-fl am-cf">
            #if($!{tag_0})
                <strong class="am-text-black am-text-lg">
                    <a href="/blog/list/$!{tag_0.id}">
                        <span class="am-icon-bookmark"></span>
                        $!{tag_0.name}
                    </a>
                </strong>
                #if($!{tag_1})
                    <strong class="am-text-black am-text-lg">
                        /
                        <a href="/blog/list/$!{tag_1.id}">
                            <span class="am-icon-bookmark"></span>
                            $!{tag_1.name}
                        </a>
                    </strong>
                    #if($!{tag_2})
                        <strong class="am-text-black am-text-lg">
                            /
                            <a href="/blog/list/$!{tag_2.id}">
                                <span class="am-icon-bookmark"></span>
                                $!{tag_2.name}
                            </a>
                            #if($!{page.admin})
                                <a class="am-link-muted" id="edit_button" onclick="editTag($!{tag_2.id}, '$!{tag_2.name}', $!{tag_1.id}, '父级Tag：$!{tag_1.name}')">
                                    <span class="am-icon-pencil"></span>
                                </a>
                            #end
                        </strong>
                    #else
                        #if($!{page.admin})
                            <a class="am-link-muted" id="edit_button" onclick="editTag($!{tag_1.id}, '$!{tag_1.name}', $!{tag_0.id}, '父级Tag：$!{tag_0.name}')">
                                <span class="am-icon-pencil"></span>
                            </a>
                        #end
                    #end
                #elseif($!{tag_0.id} > 0)
                    #if($!{page.admin})
                        <a class="am-link-muted" id="edit_button" onclick="editTag($!{tag_0.id}, '$!{tag_0.name}', 0, '父级Tag：无')">
                            <span class="am-icon-pencil"></span>
                        </a>
                    #end
                #end
            #end
        </div>
    </div>
    <div class="am-list-container am-u-lg-12 am-u-md-11 am-u-sm-centered am-padding-vertical-xs">
        <ul class="am-list am-list-static am-list-border">
            #if($!{list} && $!{list.size()} > 0)
                #foreach($article in $!{list})
                    <li class="list-item am-cf am-margin-vertical-lg am-margin-horizontal-xs">
                        <div class="list-title am-cf am-padding-left-sm am-padding-vertical-sm">
                            <a href="/blog/article/$!{article.id}" class="am-link-muted">
                                <strong class="am-fl am-cf am-text-xl">
                                    $!{article.title}
                                </strong>
                            </a>
                            <div class="am-fr am-cf am-text-cancel">
                                <span class="am-icon-clock-o"></span> $!{article.createTime}
                            </div>
                        </div>
                        <hr>
                        <div class="list-content am-cf am-padding-sm">
                            <div class="list-content-pic am-cf am-fl am-text-truncate">
                                $!{article.simpleContent}
                            </div>
                            #if($!{article.pics})
                                <div class="list-content-pic am-cf am-fr">
                                        <img src="$!{article.pics.get(0)}" height="170px" class="list-content-pic-content am-img-thumbnail"/>
                                </div>
                            #end
                        </div>
                        <hr>
                        <div class="list-footer am-cf">
                            <div class="list-footer-left am-cf am-fl">
                                #foreach($tag in $!{article.tags})
                                    <a href="/blog/list/$!{tag.id}" class="am-btn am-btn-sm am-btn-success am-radius"><span class="am-icon-tag"></span> $!{tag.name}</a>
                                #end
                            </div>
                            <div class="list-footer-right am-cf am-fr am-padding-right-lg">
                                <a href="/blog/article/$!{article.id}" class="am-btn am-btn-sm am-btn-secondary am-round"><strong>查看全文</strong></a>
                            </div>
                        </div>
                    </li>
                #end
            #else
                <li class="list-item am-cf am-margin-vertical-lg am-margin-horizontal-xs">
                    <div class="list-title am-cf am-padding-left-sm am-padding-vertical-sm">
                        <a href="#" class="am-link-muted">
                            <strong class="am-fl am-cf am-text-xl">
                                Oops! 这个标签下还没有文章......
                            </strong>
                        </a>
                    </div>
                </li>
            #end
        </ul>
        #if($!{data})
            <table class="am-margin-bottom-sm">
                <tbody><tr><td id="pager"></td></tr></tbody>
            </table>
        #end
    </div>
    <div id="pageNo" hidden>$!{data.pageNo}</div>
    <div id="totalPage" hidden>$!{data.totalPage}</div>
</div>
<script src="/sf/js/blog/page/list.js"></script>
#end