#define($content)
<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            #if($!{tag_0})
                <strong class="am-text-black am-text-lg">
                    <a href="/blog/list?tagId=$!{tag_0.id}">
                        <span class="am-icon-bookmark"></span>
                        $!{tag_0.name}
                    </a>
                </strong>
            #end
            #if($!{tag_1})
                <strong class="am-text-black am-text-lg">
                    /
                    <a href="/blog/list?tagId=$!{tag_1.id}">
                        <span class="am-icon-bookmark"></span>
                        $!{tag_1.name}
                    </a>
                </strong>
            #end
            #if($!{tag_2})
                <strong class="am-text-black am-text-lg">
                    /
                    <a href="/blog/list?tagId=$!{tag_2.id}">
                        <span class="am-icon-bookmark"></span>
                        $!{tag_2.name}
                    </a>
                </strong>
            #end
        </div>
    </div>
    <hr />
    <div class="am-u-lg-12 am-u-md-11 am-u-sm-centered">
        <ul class="am-list">
            #if($!{list} && $!{list.size()} > 0)
                #foreach($article in $!{list})
                    <li>
                        <div class="am-cf am-padding">
                            <a href="/blog/article/$!{article.id}">
                                <div class="am-fl am-cf">
                                    $!{article.title}
                                </div>
                                <div class="am-fr am-cf">
                                    $!{article.createTime}
                                </div>
                            </a>
                        </div>
                    </li>
                #end
            #end
        </ul>
    </div>
</div>
#end